/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #fff;
    border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
    background: url(img/bg1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    background-color: #333;
}
body {
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
    box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}
.cover-container {
    margin-right: auto;
    margin-left: auto;
}

/* Padding for spacing */
.inner {
    padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
}

.masthead-nav > li {
    display: inline-block;
}
.masthead-nav > li + li {
    margin-left: 20px;
}
.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff; /* IE8 proofing */
    color: rgba(255,255,255,.75);
    border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: #a9a9a9;
    border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 768px) {
    .masthead-brand {
        float: left;
    }
    .masthead-nav {
        float: right;
    }
}


/*
 * Cover
 */

.cover {
    padding: 0 20px;
}
.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
    color: #999; /* IE8 proofing */
    color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
    /* Pull out the header and footer */
    .masthead {
        position: fixed;
        top: 0;
    }
    .mastfoot {
        position: fixed;
        bottom: 0;
    }
    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }
    /* Handle the widths */
    .masthead,
    .mastfoot,
    .cover-container {
        width: 100%; /* Must be percentage or pixels for horizontal alignment */
    }
}

@media (min-width: 992px) {
    .masthead,
    .mastfoot,
    .cover-container {
        width: 700px;
    }
}

.form-h1{

    font-family: 'Passion One', cursive;
    font-size: 100px;
}

.subtitles_1{
    font-family: 'Cinzel', serif;
    font-size: 30px;
}

body{
    z-index: ;
    background: url("http://wallup.net/wp-content/uploads/2015/12/116078-Star_Wars-planet-moon-battle-space_art.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


}

.form_img_1{
    overflow: hidden;
    height: 35vw;
    width: 30vw;
    -webkit-clip-path: polygon(0 0, 100% 0%, 50% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0%, 50% 100%, 0 100%);
}

.form_img_2{

    float: right;
    overflow: hidden;
    height: 35vw;
    width: 30vw;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 50% 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 50% 100%);
}

#sub_img{
    background-color: #0f0f0f;
    margin-top: 0px !important;
}

.z-index-1 {
    position: absolute;

}

.col-md-2 img{
    animation-name: fadeInLeft;
    animation-duration: 2s;
    -webkit-animation-name: fadeInLeft; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
}
@keyframes fadeInLeft {
    from{
        margin-left: 70%;
        margin-right: 70%;
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    to{
        margin-left: 0%;
        margin-right: 0%;
        opacity:1;}
}


@media (max-width: 1022px) {
    .form_img_2{
        display: none;
    }
    .form_img_1{
display: none;
    }
}

/* ANIM BTN*/
@background-color1: #e74c3c;
@background-color2: #f39c12;
@background-color: #000110;
@ease: white;
@color: #27ae60;

*
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: @background-color;
}

h2
{
    text-align: center;
    margin-top: 20px;
    color: @ease;
    text-transform: uppercase;
    font-family: Arial;
    font-size: 30px;
}

h2 span
{
    color: @background-color1;
}

.button-hover
{
    width: 300px;
    height: 64px;
    font: normal normal 700 1em/4em Arial,sans-serif;
    overflow: hidden;
    background-color: @background-color1;
    margin: 50px auto;
    border-radius: 4px;
}

.button-hover a
{
    text-decoration: none;
    text-align: center;
    color: #fff;
    display: block;
}

.button-hover, .link
{
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.button-hover:hover
{
    background-color: @background-color2;
}

.button-hover:hover .link
{
    margin-top: -4em;
}
/* End button [1] */

.contianer
{
    width: 100%;
    margin: auto;
}

section
{
    margin: 50px 0;
    max-width: 300px;
    margin: 0 auto 0 auto;
}

section #bu-bu
{
    float: left;
    width:200px;
    max-width: 200px;
    border: 2px solid #f7f7f7;
    background-color: black;
    padding: 15px;
    cursor: pointer;
    color: #f7f7f7;
    font-family: tahoma;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 3px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

section #bu-bu:hover
{
    background-color: rgba(0,0,0,0);
    color: @color;
}

.ease
{
    width: 0;
    height: 55px;
    bnackground-color: @ease;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.sup-container:hover .ease
{
    width: 100%;
    max-width: 300px;
    background-color: @ease;
    border: 0;
}

/* End Button [2] */
